
<div id="body">
  <h1> Unicorn Land <h1>

  <h2> Do you even go here? </h2>

  <form action="/login" method="post" >

  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>" >
    <div>
      Email: <input type="text" name="email"></input>
    </div>

    <br>

    <div>
      PW: <input type="password" name="password"></input>
    </div>

    <br>
    <input type="submit"></input>
    <br>

    <%= link_to 'New Friend?', new_user_path %>
</div>
