body {
  background-color: #fff;
  color: #333;
  font-family: 'Alice', serif;
  font-size: 15px;
  line-height: 18px;
}

p, ol, ul, td {
  font-family: 'Alice', serif;
  font-size: 20px;
  line-height: 28px;
}

div.header {
  position: fixed;
  width: 100%;
  background-color: #F21B3F;
  margin: 0px auto;
  z-index: 1000;
    h1 {
      font-family: 'Sacramento', cursive;
      font-size: 5em;
      color: white;
      text-transform: capitalize;
      text-align: center;
      a {
        text-decoration: none;
      }
      a:hover {
        color: white;
      }
    }
    p {
      color: white;
      text-align: right;
      font-size: 15px;
    }
    a:link {
      color: white;
    }
    a:visited {
      color: white;
    }
    a:hover {
      color: #08BDBD;
      background: none;
    }
}
