// Place all the styles related to the Topics controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
//

body {
  font-family: 'Alice', serif;
  margin: 0px;
  padding: 0;
  position: absolute;
  width: 100%;

  a:hover {
    color: #3498db;
    background: none;
  }
}

div#navbar {
  text-align: center;
  margin: 10px;
  a {
    color: black;
    text-decoration: none;
  }
  a:hover {
    color: #3498db;
  }

}

h1#topic_title {
  font-size: 3em;
  text-transform: capitalize;
}

h2#topic_title {
    a {
      color: black;
      text-decoration: none;
    }
    a:hover {
      color: #3498db;
    }
}

div.topic {
  width: 80%;
  margin: 0 auto;
  background-color: white;
  padding: 15px;
  border-color: white;
  border-width: thin;
  border-style: solid;
  color: #2ecc71;

}

div#topic_h1 {
  span#upvote_count {
  float: right;}
  span#created {
        text-align: left;
      }
}

div.body {
  margin-top: 170px;
  margin-left: 5%;
  margin-right: 5%;
}

img#avatar {
  float: left;
  margin: 0px 10px 10px 0px;
}

span#upvote {
  float: right;
}
